<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.compras.compras">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="br.com.comprex.activity.SplashScreenActivity"
            android:theme="@style/AppTheme.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tela principal -->
        <activity
            android:name="br.com.comprex.activity.ListaListaActivity"
            android:label="@string/title_activity_lista_lista"
            android:theme="@style/AppTheme" />

        <!-- Tela de cadastro de lista -->
        <activity
            android:name="br.com.comprex.activity.FormularioListaActivity"
            android:label="@string/title_activity_formulario_lista"
            android:parentActivityName="br.com.comprex.activity.ListaListaActivity"
            android:theme="@style/AppTheme" />

        <!-- Tela lista com os produtos -->
        <activity
            android:name="br.com.comprex.activity.FormularioListaProdutoActivity"
            android:label="@string/title_activity_formulario_lista_produto"
            android:parentActivityName="br.com.comprex.activity.ListaListaActivity"
            android:theme="@style/AppTheme" />

        <!-- Tela de lista de produtos -->
        <activity
            android:name="br.com.comprex.activity.ListaProdutoActivity"
            android:label="@string/title_activity_lista_produto"
            android:parentActivityName="br.com.comprex.activity.FormularioListaProdutoActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>